<!-- ======= About Section ======= -->
<section id="about">
  <div class="container" data-aos="fade-up">
    <div class="row about-container">

      <div class="col-lg-6 content order-lg-1 order-2">
        <h2 class="title">Über KlimBim aus da Hoamat</h2>
        <p>
          KlimBim aus da Hoamat ist ein Shop in Shop Konzept wo sich regionale Kleinunternehmen, in vorgerichteten Holzkisten, einmieten können um ihre Waren zu präsentieren und zu verkaufen.
        </p>
        <p>
          Die Angebotsvielfalt im KlimBim aus da Hoamat umfasst eine bunte Mischung von handgemachtem Schmuck, Kleidung, Wein, Honig, Marmeladen, Naturkosmetik, Porzellan, Gin-Wermut, Duftkerzen, Kernöl und vielem mehr. Das Konzept ermöglicht eine laufende Veränderung des Produktsortiments. Somit wird jeder Besuch zum regionalen Shoppingerlebnis mit GeschmacksEffekt.
        </p>
        <br>
        <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
          <div class="icon"><i class="bi bi-pin-map-fill"></i></div>
          <h4 class="title">Regional und Saisonal</h4>
          <p class="description"> Regionale und Saisonale Produkte von unseren Partnern</p>
        </div>

        <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
          <div class="icon"><i class="bi bi-hypnotize"></i></div>
          <h4 class="title">Vielfälltig</h4>
          <p class="description">Vielfalt durch Partner aus den verschiedensten Produktbereichen</p>
        </div>

        <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
          <div class="icon"><i class="bi bi-flower3"></i></div>
          <h4 class="title">Nachhaltig</h4>
          <p class="description">Hervorheben von regionalen Produzenten</p>
        </div>

      </div>

      <div class="col-lg-6 background order-lg-2 order-1" data-aos="fade-left" data-aos-delay="100"></div>
    </div>

  </div>
</section><!-- End About Section -->
