<!-- ======= Team Section ======= -->
<section id="team">
  <div class="container" data-aos="fade-up">
    <div class="section-header">
      <h3 class="section-title">Team</h3>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-6 imagecontainer">
        <div class="member" data-aos="fade-up" data-aos-delay="100">
          <div class="pic"><img src="assets/img/bernd.jpg" alt=""></div>
          <h4>Bernd Schuster</h4>
          <span>CEO</span>
          <div class="social">
            <a href=""><i class="bi bi-twitter"></i></a>
            <a href=""><i class="bi bi-facebook"></i></a>
            <a href=""><i class="bi bi-instagram"></i></a>
            <a href=""><i class="bi bi-linkedin"></i></a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6">
        <div class="member" data-aos="fade-up" data-aos-delay="200">
          <div class="pic"><img src="assets/img/heinz.jpg" alt=""></div>
          <h4>Heinz Preschan</h4>
          <span>CEO</span>
          <div class="social">
            <a href=""><i class="bi bi-twitter"></i></a>
            <a href=""><i class="bi bi-facebook"></i></a>
            <a href=""><i class="bi bi-instagram"></i></a>
            <a href=""><i class="bi bi-linkedin"></i></a>
          </div>
        </div>
      </div>
    </div>

  </div>
</section><!-- End Team Section -->
