
<!-- Top navigation -->
<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0">
    <img class="brand-logo" src="assets/logo-positronx-white.svg" alt="KlimBim Logo">
  </a>
</nav>

<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a routerLink="profile" class="nav-link active">
              <i class="fas fa-user"></i>Profil
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="articles" class="nav-link active">
              <i class="fas fa-list"></i>Artikel
            </a>
          </li>
          <li *ngIf="authService.userData.email == 'mfreidl54@gmail.com'" class="nav-item">
            <a routerLink="newArticles" class="nav-link active">
              <i class="fas fa-minus"></i>Neue Artikel
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="add" class="nav-link active">
              <i class="fas fa-plus"></i>Hinzufügen
            </a>
          </li>
          <!-- Calling SignOut() Api from AuthService -->
          <li class="nav-item">
            <a class="nav-link" (click)="authService.SignOut()">
              <i class="fas fa-sign-out-alt"></i>Log out
            </a>
          </li>
        </ul>
      </div>
    </nav>
    <!-- Main content -->
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <div class="inner-adjust">
        <router-outlet></router-outlet>
      </div>
    </main>
  </div>
</div>
